{% extends "music/base.html" %} {% block title %} Album Details {% endblock %} {% block body %} {% if error_message %}
<p class="alert alert-danger">
    <strong> {{ error_message }} </strong>
</p>
{% endif %}
<div>
    <h3 align="center">{{ album }}</h3>
    <img class="img-responsive" src="{{ album.album_logo}}" alt="" height="auto"> {% if album.song_set_all %}
    <form class="form-horizontal" action="{% url 'fav' album.id %}" method="post">
        {% csrf_token %}
        <fieldset>

            <div class="form-group">
                {% for song in album.song_set.all %}
                <label class="col-lg-2 control-label">Mark Favortie</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label for="song{{ forloop.counter }}">
                         <input type="radio" required name="song" id="song{{ forloop.counter }}" value="{{ song.id}}"> 
                            {{ song.song_title }}
                            {% if song.is_fav %}
                            <img src="https://i.pinimg.com/736x/07/e4/c9/07e4c90a1e6c73f1d7d6679b0d923cc5--star-emoji-star-images.jpg" class="img-responisve" height="16" width="16px">
                        </span>
                            {% endif %}
                         </label> <br>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" name="fav" class="btn btn-primary">Favourite</button>
                </div>
            </div>
            {% endfor %}
        </fieldset>

    </form>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="alert alert-info">
                No Songs In this Album..
            </div>

        </div>
    </div>
    {% endif %}
    <!-- <h3 align="center">{{ album }}</h3>
    <img class="img-responsive" src="{{ album.album_logo}}" alt="" height="auto">
    <ul class="list-group">
        {% for song in album.song_set.all %}
        <li class="list-group-item">{{ song.song_title }} - {{ song.file_type }}</li>
        {% endfor %}
    </ul> -->

</div>
{% endblock %}