<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title> Music Website </title>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/music">Music</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/music">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">About</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            -->
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" required>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
{% if error_message %}
<p class="alert alert-danger">
    <strong> {{ error_message }} </strong>
</p>
{% endif %}
<div>
    <h3 align="center">{{ album }}</h3>
    <img class="img-responsive" src="{{ album.album_logo}}" alt="" height="auto">
    <form class="form-horizontal" action="{% url 'fav' album.id %}" method="post">
        {% csrf_token %} {% for song in album.song_set.all %}
        <fieldset>
            <div class="form-group">
                <label class="col-lg-2 control-label">Mark Favortie</label>
                <div class="col-lg-10">
                    <div class="radio">
                        <label for="song{{ forloop.counter }}">
                         <input type="radio" name="song" id="song{{ forloop.counter }}" value="{{ song.id}}"> 
                            {{ song.song_title }}
                            {% if song.is_fav %}
                            <img src="https://i.pinimg.com/736x/07/e4/c9/07e4c90a1e6c73f1d7d6679b0d923cc5--star-emoji-star-images.jpg" class="img-responisve" height="16" width="16px">
                            {% endif %}
                         </label> <br> {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" name="fav" class="btn btn-primary">Favourite</button>
                </div>
            </div>
        </fieldset>

    </form>
    <!-- <h3 align="center">{{ album }}</h3>
    <img class="img-responsive" src="{{ album.album_logo}}" alt="" height="auto">
    <ul class="list-group">
        {% for song in album.song_set.all %}
        <li class="list-group-item">{{ song.song_title }} - {{ song.file_type }}</li>
        {% endfor %}
    </ul> -->

</div>