{% extends "music/base.html" %} {% block body %}
<h3 align="center">Albums Available</h3>

{% if all_albums %}
<ul class="list-group">
    {% for album in all_albums %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ album.album_logo }}" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p> <b>Album Name:</b> <a href="{% url 'ListAlbums' album.id %}">{{ album.album_title }}</a></p>
                    </div>
                </div>
            </div>
            <!-- <li class="list-group-item">
                <a href="{% url 'ListAlbums' album.id %}">{{ album.album_title }}</a>
            </li> -->
            {% endfor %}
</ul>
{% else %}
<div class="container">
    <h3 align="center"> No Albums Have been added yet..... </h3>
</div>
{% endif %} {% endblock %}